<%= form_with url: rooms_search_path, method: :get do |f|%>
  <div class="header-search d-lg-inline-block d-none">
    <%= f.text_field :area, :placeholder => "エリア", class: "form-control"%>
    <i class="fas fa-map-marker-alt"></i>
  </div>
  
  <div class="header-search d-lg-inline-block d-none">
    <%= f.text_field :keyword, :placeholder => "キーワード", class: "form-control"%>
    <i class="fa fa-search"></i>
  </div>
  
  <%= f.submit class: 'd-none' %>
<% end %>