<tr>
  <% params.each do |param|%>
    <%= render "shared/list/rooms-list/content", model: model, param: param[0]%>
  <% end %>
  
  <% if isEdit %>
    <td><%= link_to "編集", [:edit, model]%></td>
  <% end %>
</tr>