<header class="header">
  <div class="header-left-nav">
    <%= link_to image_tag("logo.png", alt: "サイトのロゴ画像"), '/'%>
    
    <%= render "shared/header/search-form"%>
  </div>
  <div class="header-right-nav">
    <% if user_signed_in? %>
      <%= render "shared/header/login-menu"%>
    <% else %>
      <%= render "shared/header/non-login-menu"%>
    <% end %>
  </div>
</header>