<%= form_with url: rooms_search_path, method: :get do |f|%>
  <div class="header-search">
    <%= f.text_field :area %>
  </div>
  
  <div class="header-search">
    <%= f.text_field :keyword %>
  </div>
  
  <%= f.submit class: 'd-none' %>
<% end %>