<div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
  <ul>
    <li class="active"><a href="/users/account">アカウント</a></li>
    <li class=""><a href="/users/profile">プロフィール</a></li>
  </ul>
</div>