<div class="field">
  <%= f.label column, label %><br />
  
  <% case field %>
    <% when "email_field" then%>
      <%= f.email_field column, placeholder: placeholder, autofocus: autofocus, autocomplete: autocomplete, :class => "form-control"%>
      
    <% when "password_field" then%>
      <%= f.password_field column, placeholder: placeholder, autofocus: autofocus, autocomplete: autocomplete, :class => "form-control"%>

  <% end %>
</div>