<div class="col-md-4">
  <div class="room-show-nav">
    <h5 class="price-icon"><%= @room.fee %> / 日</h5>
    <div class="room-show-date-select">
      <%= render "shared/rooms/show/reserve/form" %>
    </div>
  </div>
</div>
