<div class="room-new">
  <div class="row">
    <div class="col-lg-12 room-view">
      <div class="room-view-box">
        <%= render "shared/rooms/config/config", message: "編集" %>
      </div>
    </div>
  </div>
</div>