<div class="room-new">
  <div class="row">
    <%= render "shared/rooms/config/rooms-side-bar" %>
    <div class="col-lg-10 room-view">
      <div class="room-view-box">
        <%= render "shared/rooms/config/config", mode: "new" %>
      </div>
    </div>
  </div>
</div>