<div class="field form-row">
  <% if required %>
    <%= render "shared/users/required"%>
  <% end %>
  
  <% case field %>
  <% when "email_field" then%>
    <%= f.email_field :email, :class => "form-control col-10 px-2", placeholder: placeholder, autocomplete: autocomplete %>
  <% when "password_field" then%>
    <%= f.password_field :password, :class => "form-control col-10 px-2", placeholder: placeholder, autocomplete: autocomplete %>
  <% end %>
</div>