<div class="container device">
  <div class="device-flame">
    <p class="my-4"><%= message %></p>
    <div class="device-inner">
      <% if page == "sign_up" %>
        <%= render "shared/users/form/sign-up" %>
      <% elsif page == "sign_in" %>
        <%= render "shared/users/form/sign-in" %>
      <% end %>
    </div>
  </div>
</div>