body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

ul {
  list-style: none;
}

a {
  color: #000;
}

.d-none {
  display: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
    &-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
    
    &-secondary {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }
}

.header {
    width: 100%;
    height: 70px;
    padding: 4px 30px;
    background-color: #000000;
    
    .nav-item {
      display: inline-block;
      color: #fff;
      font-size: 14px;
    }
    
    i {
      position: absolute;
      top: 10px;
      left: 8px;
      font-size: 18px;
    }
    
    &-left-nav {
      float: left;
      
      form {
        display: inline-block;
      }
      
      .form-control {
        width: 180px;
        display: inline-block;
        position: relative;
        border-radius: 2px;
        padding-left: 30px;
      }
    }
    
    &-right-nav {
      float: right;
    }
    
    &-nav-menu {
      background-color: #fff;
      border: 3px solid #F6F8F9;
      // display: none;
      position: absolute;
      top: 70px;
      right: 10px;
      padding: 15px;
      z-index: 1000;
      
      li {
        line-height: 30px;
        font-size: 16px;
        padding: 3px 5px;
      }
    }
    
    &-search {
      position: relatve;
    }
}

.host-icon {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
}

.fa-map-marker-alt::before {
    content: "\f3c5";
}

.user {
  .user-nav {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
    
    li {
      font-size: 18px;
      padding: 10px;
    }
    
    &-pc {
      height: 100vh;
      
      .active {
        border-right: 3px solid #4a90e2;
        
        a {
          color: #4a90e2;
        }
      }
    }
  }
}

.room-new .room-view {
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
}

.room-new .room-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 50px auto;
}

.room-new .update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    margin-top: 64px;
    padding-top: 90px;
    background-color: #111;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}